@use "../../styles/theme";

.articles {
  &-wrapper-grid {
    @include theme.wrap-section;
    padding: 40px 0;
    display: grid;
    grid-auto-flow: dense;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-auto-rows: minmax(200px, 1fr);

    :nth-child(5n) {
      grid-column: span 2;
    }

    :nth-last-child(1) {
      grid-column: span 3;
    }

    @include theme.md() {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &-grid-item {
    margin: 5px;
    border: dotted 1px grey;
  }

  &-image-wrapper {
    display: block;

    &-resize {
      max-width: 350px;
      max-height: auto;
    }
  }

  &-item-details {
    margin: 0 5px;
    font-style: italic;
  }
}
